# GEMINI_API_KEY: مفتاح الربط مع الذكاء الاصطناعي
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# الرابط الجديد البديل لـ SheetBest (يعمل للأبد ومجاني)
VITE_GOOGLE_SHEET_URL="https://script.google.com/macros/s/AKfycbyOiZ_VRTESDYmAqsoiRDOJAd4KYFu1QtR47MqxRDfiNKuAyQLWn5Xe-2csq7qBk2WF/exec"
